<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootshellDefaultAppGroup</key>
	<string>$(ROOTSHELL_DEFAULT_APP_GROUP)</string>
	<key>RootshellDevelopmentTeam</key>
	<string>$(ROOTSHELL_DEVELOPMENT_TEAM)</string>
</dict>
</plist>
